<hub-loading></hub-loading>
<tui-root>
  <div class="user-list-wrapper">
    <div class="filter-header">
      <div class="search-box">
        <nz-input-group [nzSuffix]="suffixIconSearch" nzSize="large">
          <input
            type="text"
            nz-input
            placeholder="Tìm kiếm theo tên"
            [formControl]="searchForm"
          />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <span nz-icon nzType="search"></span>
        </ng-template>
      </div>
      <div class="btn-action-group">
        <button
          (click)="addFolder()"
          nz-button
          nzType="default"
          class="create-team"
          nzSize="large"
        >
          <span nz-icon nzType="plus" nzTheme="outline"></span>
          <span>Thêm thư mục</span>
        </button>
        <button
          nz-button
          nzType="default"
          class="create-team"
          nzSize="large"
          (click)="showUploadFile()"
        >
          <span nz-icon nzType="upload"></span>
          <span>Thêm tệp</span>
        </button>
        <button
          nz-button
          nzType="default"
          class="create-team"
          nzSize="large"
          (click)="onShowModeTable()"
        >
          <ng-container *ngIf="!isModeViewTable">
            <span nz-icon nzType="table" nzTheme="outline"></span>
            <span>Chế độ xem: bảng</span>
          </ng-container>
          <ng-container *ngIf="isModeViewTable">
            <span nz-icon nzType="appstore" nzTheme="outline"></span>
            <span>Chế độ xem: lưới</span>
          </ng-container>
        </button>
      </div>
    </div>
    <div class="device-info">
      <div>
        <nz-tag>Tổng: {{ totalElements }} tệp</nz-tag>
        <nz-tag>Ảnh: {{ totalImage }} tệp</nz-tag>
        <nz-tag>Video: {{ totalVideo }} tệp</nz-tag>
      </div>
      <div *ngIf="!isModeViewTable">
        <nz-tag
          ><span>Đã chọn {{ checkedId?.length! }}</span>
          <div
          *ngIf="checkedId?.length!>0"
            style="display: inline-flex; margin-left: 5px; cursor: pointer"
            (click)="resetCheck()"
          >
            <span class="anticon anticon-close"
              ><svg
                style="padding-bottom: 1px"
                fill-rule="evenodd"
                viewBox="64 64 896 896"
                focusable="false"
                fill="currentColor"
                width="1em"
                height="1em"
                data-icon="close"
                aria-hidden="true"
              >
                <path
                  d="M799.86 166.31c.02 0 .04.02.08.06l57.69 57.7c.04.03.05.05.06.08a.12.12 0 010 .06c0 .03-.02.05-.06.09L569.93 512l287.7 287.7c.04.04.05.06.06.09a.12.12 0 010 .07c0 .02-.02.04-.06.08l-57.7 57.69c-.03.04-.05.05-.07.06a.12.12 0 01-.07 0c-.03 0-.05-.02-.09-.06L512 569.93l-287.7 287.7c-.04.04-.06.05-.09.06a.12.12 0 01-.07 0c-.02 0-.04-.02-.08-.06l-57.69-57.7c-.04-.03-.05-.05-.06-.07a.12.12 0 010-.07c0-.03.02-.05.06-.09L454.07 512l-287.7-287.7c-.04-.04-.05-.06-.06-.09a.12.12 0 010-.07c0-.02.02-.04.06-.08l57.7-57.69c.03-.04.05-.05.07-.06a.12.12 0 01.07 0c.03 0 .05.02.09.06L512 454.07l287.7-287.7c.04-.04.06-.05.09-.06a.12.12 0 01.07 0z"
                ></path></svg
            ></span>
          </div>
        </nz-tag>
        <button
          (click)="checkAll()"
          nz-button
          nzType="default"
          nzSize="small"
          class="mx-2"
        >
          <span>Chọn tất cả</span>
        </button>

        <button
          nz-button
          nzType="default"
          nzSize="small"
          [disabled]="checkedId!.length === 0"
          (click)="moveFile()"
        >
          <span>Di chuyển</span>
        </button>
      </div>
    </div>
    <div *ngIf="isModeViewTable" class="table-body" style="overflow: auto">
      <nz-table
        #filterTable
        [nzFrontPagination]="false"
        [nzShowPagination]="false"
        [nzData]="file"
      >
        <thead>
          <tr>
            <th
              *ngFor="let column of listOfColumn"
              [ngStyle]="{
                whiteSpace: 'nowrap'
              }"
            >
              {{ column.title }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of file; let i = index">
            <td nz>{{ i + 1 }}</td>
            <td>
              {{ data.name }}
            </td>
            <td>
              <a> {{ data.capacity }}</a>
            </td>
            <td>{{ data.type | uppercase }}</td>
            <td>{{ checkDisPlay(data.displayType) }}</td>
            <td>{{ data.path }}</td>
            <td class="text-center">
              <span
                nz-icon
                nzType="ellipsis"
                nz-dropdown
                [nzDropdownMenu]="menu2"
                nzPlacement="bottomRight"
                style="transform: rotate(90deg)"
              ></span>
              <nz-dropdown-menu #menu2="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item (click)="moveFile(data)">Di chuyển</li>
                  <li nz-menu-item (click)="renameFile(data)">Đổi tên</li>
                  <li
                    nz-menu-item
                    (click)="onConfirmDeleteFile(data)"
                    style="color: red"
                  >
                    Xoá tệp
                  </li>
                </ul>
              </nz-dropdown-menu>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
    <ng-container *ngIf="!isModeViewTable">
      <ng-container *ngIf="file?.length > 0; else notFile">
        <div class="grid-body">
          <div
            class="grid-item"
            *ngFor="let data of file; let i = index"
            [ngClass]="{ 'bg-active': checked![i] }"
          >
            <div class="device-name">
              <label
                nz-checkbox
                [(ngModel)]="checked![i]"
                (ngModelChange)="chooseFile(data)"
                >{{ data?.name }}</label
              >
            </div>
            <div class="device-status">
              <div class="w-100 h-100" (click)="show(data)">
                <img
                  *ngIf="
                    data.type === 'jpg' ||
                    data.type === 'jpeg' ||
                    data.type === 'png'
                  "
                  class="w-100 h-100 file-image"
                  src="https://cms.advtv.vn{{ data.path }}"
                  alt=""
                />
                <video
                  class="w-100 h-100 file-image"
                  controls
                  *ngIf="data.type === 'mp4'"
                >
                  <source
                    src="https://cms.advtv.vn{{ data.path }}"
                    type="video/mp4"
                  />
                  Your browser does not support the video tag.
                </video>
              </div>
            </div>
            <div class="file-action">
              <span
                nz-icon
                *ngIf="data.type === 'jpg' || data.type === 'pnj'; else check"
                nzType="file-image"
                nzTheme="outline"
              ></span>
              <ng-template #check>
                <span
                  nz-icon
                  nzType="video-camera-add"
                  nzTheme="outline"
                ></span>
              </ng-template>
              <div>
                <span
                  nz-icon
                  nzType="ellipsis"
                  nz-dropdown
                  [nzDropdownMenu]="menu2"
                  nzPlacement="bottomRight"
                  style="transform: rotate(90deg)"
                ></span>
                <nz-dropdown-menu #menu2="nzDropdownMenu">
                  <ul nz-menu>
                    <li nz-menu-item (click)="moveFile(data)">Di chuyển</li>
                    <li nz-menu-item (click)="renameFile(data)">Đổi tệp</li>
                    <li
                      nz-menu-item
                      (click)="onConfirmDeleteFile(data)"
                      style="color: red"
                    >
                      Xoá tệp
                    </li>
                  </ul>
                </nz-dropdown-menu>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #notFile>
        <div class="empty">
          <p>
            <svg
              width="64"
              height="41"
              viewBox="0 0 64 41"
              xmlns="http://www.w3.org/2000/svg"
              class="ant-empty-img-simple"
            >
              <g transform="translate(0 1)" fill="none" fill-rule="evenodd">
                <ellipse
                  cx="32"
                  cy="33"
                  rx="32"
                  ry="7"
                  class="ant-empty-img-simple-ellipse"
                ></ellipse>
                <g fill-rule="nonzero" class="ant-empty-img-simple-g">
                  <path
                    d="M55 12.76L44.854 1.258C44.367.474 43.656 0 42.907 0H21.093c-.749 0-1.46.474-1.947 1.257L9 12.761V22h46v-9.24z"
                  ></path>
                  <path
                    d="M41.613 15.931c0-1.605.994-2.93 2.227-2.931H55v18.137C55 33.26 53.68 35 52.05 35h-40.1C10.32 35 9 33.259 9 31.137V13h11.16c1.233 0 2.227 1.323 2.227 2.928v.022c0 1.605 1.005 2.901 2.237 2.901h14.752c1.232 0 2.237-1.308 2.237-2.913v-.007z"
                    class="ant-empty-img-simple-path"
                  ></path>
                </g>
              </g>
            </svg>
          </p>
          <span>Trống</span>
        </div>
      </ng-template>
    </ng-container>

    <div class="pagination-footer mt-4">
      <nz-pagination
        [nzPageIndex]="pageIndex + 1"
        [nzTotal]="totalElements"
        nzShowSizeChanger
        [nzPageSize]="pageSize"
        [nzShowTotal]="totalTemplate"
        (nzPageIndexChange)="onPageIndexChange($event)"
        (nzPageSizeChange)="onPageSizeChange($event)"
      ></nz-pagination>
      <ng-template #totalTemplate let-total
        >Tổng: {{ totalElements }} kết quả</ng-template
      >
    </div>
  </div>
  <ng-template #preview let-preview>
    <tui-preview [rotatable]="true" (tuiSwipe)="onSwipe($event)">
      <tui-preview-title>{{ itemPreview.name }}</tui-preview-title>
      <tui-preview-pagination
        [length]="file?.length"
        [(index)]="index"
      ></tui-preview-pagination>
      <button
        icon="tuiIconTrash"
        title="Delete"
        tuiIconButton
        tuiPreviewAction
        type="button"
        (click)="onConfirmDeleteFile(itemPreview)"
      ></button>
      <button
        icon="tuiIconAlertCircle"
        tuiIconButton
        tuiPreviewAction
        type="button"
        (click)="download()"
        tabindex="0"
        text="❤"
        tuiHintAppearance="onDark"
        tuiHintDirection="right"
        [autoColor]="true"
        [rounded]="true"
        [tuiHint]="tooltip"
      ></button>
      <ng-template #tooltip>
        <div>
          <strong>{{ itemPreview.name }}</strong>
        </div>
        <div>Dung lượng: {{ itemPreview.size }}</div>
        <div>Định dạng: {{ itemPreview.type }}</div>
        <div>Kiểu hiển thị: {{ checkDisPlay(itemPreview.displayType) }}</div>
        <div>Vị trí: {{ itemPreview.path }}</div>
      </ng-template>
      <button
        icon="tuiIconClose"
        title="Close"
        tuiIconButton
        tuiPreviewAction
        type="button"
        (click)="preview.complete()"
      ></button>
      <iframe
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        frameborder="0"
        [src]="path | safe : 'resourceUrl'"
        title="Youtube"
        class="content"
      ></iframe>
    </tui-preview>
  </ng-template>
</tui-root>
