
<hub-loading></hub-loading>

<form nz-form [formGroup]="validateForm">
  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzRequired nzFor="note"
      >Văn phòng</nz-form-label
    >
    <nz-form-control [nzSpan]="18" nzErrorTip="Chưa nhập văn phòng!">
      <input
        id="note"
        readonly
        type="text"
        nz-input
        [nzSize]="size"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzRequired nzFor="note"
      >Loại team</nz-form-label
    >
    <nz-form-control [nzSpan]="18" nzErrorTip="Chưa nhập loại team!">
      <input
        id="note"
        type="text"
        nz-input
        [nzSize]="size"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzRequired nzFor="note"
      >Tên team</nz-form-label
    >
    <nz-form-control [nzSpan]="18" nzErrorTip="Chưa nhập tên team!">
      <input
        id="note"
        type="text"
        nz-input
        [nzSize]="size"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="5">Ghi chú</nz-form-label>
    <nz-form-control [nzSpan]="18" nzHasFeedback>
      <nz-textarea-count [nzMaxCharacterCount]="2000">
        <textarea
          nz-input
          rows="3"
          [nzSize]="size"
        ></textarea>
      </nz-textarea-count>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzSpan]="10" [nzOffset]="5">
      <label nz-checkbox>
        Có chế độ golive
      </label>
    </nz-form-control>
  </nz-form-item>
</form>
