<hub-loading></hub-loading>

<form nz-form [formGroup]="validateForm" nzNoColon nzLabelAlign="left">
  <nz-form-item>
    <nz-form-label nzRequired nzLabelAlign="left" [nzSpan]="3">Choose Type</nz-form-label>
    <nz-form-control [nzSpan]="9">
      <nz-select nz-input [nzSize]="size">
        <nz-option [nzValue]="null" nzLabel="All"></nz-option>
        <nz-option [nzValue]="1" nzLabel="Reel"></nz-option>
        <nz-option [nzValue]="2" nzLabel="Post"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired nzLabelAlign="left" [nzSpan]="3">Choose Date</nz-form-label>
    <nz-form-control [nzSpan]="9">
      <nz-date-picker
        nzShowTime
        nzFormat="yyyy-MM-dd HH:mm:ss"
        [(ngModel)]="startValue"
        nzPlaceHolder="Choose time"
      ></nz-date-picker>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired nzFor="content-post" nzSpan="3">
      Content Post
    </nz-form-label>
    <nz-form-control nzErrorTip="Please input your content post!" nzSpan="9">
      <textarea id="content-post" nz-input [nzSize]="size"></textarea>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired nzFor="content-post" nzSpan="3">
      Comment Video
    </nz-form-label>
    <nz-form-control nzErrorTip="Please input your content post!" nzSpan="9">
      <textarea id="content-post" nz-input [nzSize]="size"></textarea>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired nzLabelAlign="left" [nzSpan]="3">Choose Page</nz-form-label>
    <nz-form-control [nzSpan]="9">
      <nz-select
        [(ngModel)]="multipleValue"
        [nzSize]="size"
        nzMode="multiple"
        nzPlaceHolder="Please select"
      >
        <nz-option
          *ngFor="let option of listOfOption"
          [nzLabel]="option.label"
          [nzValue]="option.value"
        ></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control nzSpan="12" style="text-align: right">
      <button nz-button nzType="primary">Create</button>
    </nz-form-control>
  </nz-form-item>
</form>
