<div class="login-container">
  <div class="login-logo">
    <img src="assets/images/logo.svg" alt="" />
    <h4 class="mt-2">ADV CMS</h4>
  </div>
  <form
    nz-form
    [formGroup]="validateForm"
    class="login-form"
    (ngSubmit)="submitForm()"
  >
    <nz-form-item>
      <nz-form-control nzErrorTip="Tên đăng nhập không được bỏ trống">
        <nz-input-group nzPrefixIcon="user" nzSize="large">
          <input
            type="text"
            nz-input
            formControlName="userName"
            placeholder="Tên đăng nhập"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="py-2">
      <nz-form-control nzErrorTip="Mật khẩu không được bỏ trống!">
        <nz-input-group
          nzPrefixIcon="lock"
          [nzSuffix]="suffixTemplate"
          nzSize="large"
        >
          <input
            [type]="passwordVisible ? 'text' : 'password'"
            nz-input
            formControlName="password"
            placeholder="Mật khẩu"
          />
        </nz-input-group>
        <ng-template #suffixTemplate>
          <span
            nz-icon
            [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
            (click)="passwordVisible = !passwordVisible"
          ></span>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <button
      nz-button
      [nzLoading]="isLoading"
      nzSize="large"
      class="login-form-button login-form-margin"
      [nzType]="'primary'"
    >
      Đăng nhập
    </button>
  </form>
</div>
