.login-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-size: cover;
  .login-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login-form {
    width: 350px;
  }
  .login-form-margin {
    margin-bottom: 16px;
    .remember-text {
      white-space: nowrap;
    }
  }
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
    border: none;
  }
}

:host {
  img {
    width: inherit !important;
  }
  .version{
    font-weight:600;
  }
}
