<hub-loading ></hub-loading>
<tui-root>
  <div class="user-list-wrapper">
    <div class="filter-header">
      <div class="search-box">
        <nz-input-group [nzSuffix]="suffixIconSearch" nzSize="large">
          <input
            type="text"
            nz-input
            placeholder="Tìm kiếm theo tên người dùng"
            [formControl]="searchForm"
          />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <span nz-icon nzType="search"></span>
        </ng-template>
      </div>
      <div class="btn-action-group">
        <button nz-button nzType="default" (click)="createUser()" class="create-team" nzSize="large">
          <span nz-icon nzType="calendar" nzTheme="outline"></span>
          <span>Thêm người dùng</span>
        </button>
      </div>
    </div>
    <div class="device-info">
      <div>
        <nz-tag>Tổng: {{ totalElements }} người dùng</nz-tag>
      </div>
    </div>
    <div class="table-body" style="overflow: auto">
      <nz-table
        #filterTable
        [nzFrontPagination]="false"
        [nzShowPagination]="false"
        [nzData]="presentationSlide"
      >
        <thead>
          <tr>
            <th
              *ngFor="let column of listOfColumn"
              [ngStyle]="{
                whiteSpace: 'nowrap'
              }"
            >
              {{ column.title }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of presentationSlide; let i = index">
            <td nz>{{ i + 1 }}</td>
            <td style="cursor: pointer">
              {{ data?.fullName??"---" }}
            </td>
            <td>
              {{
                data.mail
              }}
            </td>
            <td>{{ data.phoneNumb }}</td>
            <td>{{ data.username }}</td>
            <td>{{ data.roles }}</td>
            <td>{{ data.status }}</td>
            <td>{{ data.birthday |date:'dd/MM/yyyy' }}</td>
            <td>{{ data.insDatetime |date:'HH:ss dd/MM/yyyy' }}</td>
            <td class="text-center" style="cursor: pointer;">
              <span
                nz-icon
                nzType="ellipsis"
                nz-dropdown
                [nzDropdownMenu]="menu2"
                nzPlacement="bottomRight"
                style="transform: rotate(90deg)"
              ></span>
              <nz-dropdown-menu #menu2="nzDropdownMenu">
                <ul nz-menu>
                  <li (click)="updateUser(data)" nz-menu-item>Chỉnh sửa</li>
                </ul>
              </nz-dropdown-menu>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>

    <div class="pagination-footer mt-4">
      <nz-pagination
        [nzPageIndex]="pageIndex + 1"
        [nzTotal]="totalElements"
        nzShowSizeChanger
        [nzPageSize]="pageSize"
        [nzShowTotal]="totalTemplate"
        (nzPageIndexChange)="onPageIndexChange($event)"
        (nzPageSizeChange)="onPageSizeChange($event)"
      ></nz-pagination>
      <ng-template #totalTemplate let-total
        >Tổng: {{ totalElements }} kết quả</ng-template
      >
    </div>
  </div>
</tui-root>
