:host {
  display: block;
  height: 100%;
  .user-list-wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    .filter-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .search-box {
        min-width: 432px;
      }
      .btn-action-group {
        display: flex;
        flex-direction: row;
        gap: 16px;
        align-items: center;
      }
    }
    .device-info {
      margin-top: 24px;
      margin-bottom: 16px;
      display: flex;
      justify-content: space-between;
    }
    .content-wrapper {
      flex: 1;
      overflow: hidden;
      .table-body {
        height: 100%;
        background: white;
      }
      .grid-body {
        max-height: 100%;
        overflow: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 16px 24px;
        .grid-item {
          cursor: pointer;
          padding: 16px;
          background: white;
          display: flex;
          flex-direction: column;
          gap: 16px;
          border: 1px solid #0000000f;
          border-radius: 8px;
          .device-name {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-align: left;
          }
          .device-status {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            .time-desc {
              font-size: 14px;
              font-weight: 400;
              line-height: 22px;
              text-align: left;
            }
          }
          .device-play-desc {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
          }
          &:hover {
            background: #e6f7ff;
          }
        }
      }
      .empty-data-device {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 50px;
        background: white;
      }
    }
    .pagination-footer {
      margin-top: 24px;
    }
  }
  .create-team {
    display: flex;
    align-items: center;
  }
  .bg-active {
    background: #bae7ff !important;
  }

  ::ng-deep {
    .ant-table-cell {
      white-space: nowrap;
    }
  }
}
