<div class="add-presentation-modal">
  <div class="search-box">
    <nz-input-group [nzSuffix]="suffixIconSearch" nzSize="large">
      <input
        type="text"
        nz-input
        placeholder="Tìm kiếm theo tên lịch trình chiếu"
        [formControl]="searchForm"
      />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>

  </div>
  <div class="value-box">
    <nz-select [(ngModel)]="multipleValue" [nzSize]="'large'" [nzDisabled]="multipleValue.length === 0" nzMode="multiple" nzPlaceHolder="Lịch đã chọn">
<!--      <nz-option *ngFor="let option of listOfOption" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>-->
    </nz-select>
  </div>

  <div class="time-box">
    <div class="options">
      <span>Thời gian chạy</span>
      <nz-radio-group [(ngModel)]="radioValue">
        <label nz-radio nzValue="day">Theo ngày</label>
        <label nz-radio nzValue="custom">Tuỳ chỉnh</label>
      </nz-radio-group>
    </div>
    <div class="value-time">
      <nz-date-picker *ngIf="radioValue === 'day'" [(ngModel)]="date" (ngModelChange)="onChange($event)"></nz-date-picker>
      <nz-select *ngIf="radioValue !== 'day'" nzMode="multiple" nzPlaceHolder="Please select">
      <nz-option *ngFor="let option of options" [nzLabel]="option" [nzValue]="option"></nz-option>
      <nz-option [nzLabel]="'Add new date'" nzCustomContent>
        <button nz-button nzType="link" (click)="openDatePicker()">Add new date</button>
      </nz-option>
      </nz-select>
      <nz-modal [(nzVisible)]="isDatePickerVisible" nzTitle="Select Date" (nzOnOk)="addDate()" (nzOnCancel)="isDatePickerVisible=false">
        <nz-date-picker [(ngModel)]="selectedDate" (ngModelChange)="handleDateChange($event)"></nz-date-picker>
      </nz-modal>
    </div>
  </div>
</div>
