:host {
  .add-presentation-modal {
    .search-box {

    }
    .value-box {
      width: 100%;
      margin-top: 24px;
      margin-bottom: 24px;
      nz-select {
        width: 100%;
      }
    }
    .time-box {
      .options {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        margin-bottom: 24px;
      }
      .value-time {
        width: 100%;
        nz-date-picker,
        nz-select{
          width: 100%;
        }
      }
    }
  }
}
