<tui-root>
  <div class="user-list-wrapper">
    <div class="filter-header">
      <div class="search-box">
        <nz-input-group [nzSuffix]="suffixIconSearch" nzSize="large">
          <input type="text" nz-input placeholder="Tìm kiếm theo tên" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <span nz-icon nzType="search"></span>
        </ng-template>
      </div>
      <div class="btn-action-group">
        <nz-upload
          nz-si
          nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
          [nzHeaders]="{ authorization: 'authorization-text' }"
          (nzChange)="handleChange($event)"
        >
          <button nz-button nzType="default" class="create-team" nzSize="large">
            <span nz-icon nzType="upload"></span>
            Thêm tệp
          </button>
        </nz-upload>
        <button
          nz-button
          nzType="default"
          class="create-team"
          nzSize="large"
          (click)="onShowModeTable()"
        >
          <ng-container *ngIf="!isModeViewTable">
            <span nz-icon nzType="table" nzTheme="outline"></span>
            <span>Chế độ xem: bảng</span>
          </ng-container>
          <ng-container *ngIf="isModeViewTable">
            <span nz-icon nzType="appstore" nzTheme="outline"></span>
            <span>Chế độ xem: lưới</span>
          </ng-container>
        </button>
      </div>
    </div>
    <div class="device-info">
      <nz-tag>Tổng: {{totalElements}} tệp</nz-tag>
      <nz-tag>Ảnh: {{totalImage}} tệp</nz-tag>
      <nz-tag>Video: {{totalVideo}} tệp</nz-tag>
    </div>
    <div *ngIf="isModeViewTable" class="table-body" style="overflow: auto">
      <nz-table
        #filterTable
        [nzFrontPagination]="false"
        [nzShowPagination]="false"
        [nzData]="file"
      >
        <thead>
          <tr>
            <th
              *ngFor="let column of listOfColumn"
              [ngStyle]="{
                whiteSpace: 'nowrap'
              }"
            >
              {{ column.title }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let data of file; let i = index"
          >
            <td nz>{{ i + 1 }}</td>
            <td>
              {{data.name}}
            </td>
            <td>
              <a> {{data.size}} KB</a>
            </td>
            <td>{{data.type}}</td>
            <td>{{data.status}}</td>
            <td>{{data.uploadedTime}}</td>
            <td>{{data.location}}</td>
            <td class="text-center">
              <span
                nz-icon
                nzType="ellipsis"
                nz-dropdown
                [nzDropdownMenu]="menu2"
                nzPlacement="bottomRight"
                style="transform: rotate(90deg)"
              ></span>
              <nz-dropdown-menu #menu2="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item>Di chuyển</li>
                  <li nz-menu-item>Đổi tệp</li>
                  <li nz-menu-item>Xoá tệp</li>
                </ul>
              </nz-dropdown-menu>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
    <div *ngIf="!isModeViewTable" class="grid-body">
      <div
        class="grid-item"
        *ngFor="let item of [1, 2, 3, 4, 1, 2, 3, 4]; let i = index"
        [ngClass]="{ 'bg-active': checked![i] }"
      >
        <div class="device-name">
          <label nz-checkbox [(ngModel)]="checked![i]"
            >Màn hình {{ i + 1 }}</label
          >
        </div>
        <div class="device-status">
          <div class="w-100 h-100" (click)="show()">
            <img
              class="w-100 h-100 file-image"
              src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg"
              alt=""
            />
          </div>
        </div>
        <div class="file-action">
          <span nz-icon nzType="file-image" nzTheme="outline"></span>
          <div>
            <span
              nz-icon
              nzType="ellipsis"
              nz-dropdown
              [nzDropdownMenu]="menu2"
              nzPlacement="bottomRight"
              style="transform: rotate(90deg)"
            ></span>
            <nz-dropdown-menu #menu2="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item>Di chuyển</li>
                <li nz-menu-item>Đổi tệp</li>
                <li nz-menu-item>Xoá tệp</li>
              </ul>
            </nz-dropdown-menu>
          </div>
        </div>
      </div>

      <ng-template #contentTemplate>
        <div>
          <p>Content</p>
          <p>Content</p>
        </div>
      </ng-template>
    </div>
    <div class="pagination-footer mt-4">
      <nz-pagination
        [nzPageIndex]="0"
        [nzTotal]="10"
        nzShowSizeChanger
        [nzPageSize]="1"
        [nzShowTotal]="totalTemplate"
      ></nz-pagination>
      <ng-template #totalTemplate let-total
        >Tổng: {{ total }} items</ng-template
      >
    </div>
  </div>
  <hub-loading></hub-loading>

  <ng-template #preview let-preview>
    <tui-preview [rotatable]="true" (tuiSwipe)="onSwipe($event)">
      <tui-preview-title>{{ title }}</tui-preview-title>
      <tui-preview-pagination
        [length]="length"
        [(index)]="index"
      ></tui-preview-pagination>

      <button
        icon="tuiIconTrash"
        title="Delete"
        tuiIconButton
        tuiPreviewAction
        type="button"
        (click)="delete()"
      ></button>
      <button
        icon="tuiIconAlertCircle"
        tuiIconButton
        tuiPreviewAction
        type="button"
        (click)="download()"
        tabindex="0"
        text="❤"
        tuiHintAppearance="onDark"
        tuiHintDirection="right"
        [autoColor]="true"
        [rounded]="true"
        [tuiHint]="tooltip"
      ></button>
      <ng-template #tooltip>
        <div>
          <strong>tệp123.mp4</strong>
        </div>
        <div>Dung lượng: 4,416 KB</div>
        <div>DĐịnh dạng: MP4</div>
        <div>Kiểu hiển thị: Ngang</div>
        <div>Độ dài: 05:00</div>
        <div>Vị trí: ../Thư mục 1</div>
      </ng-template>
      <button
        icon="tuiIconClose"
        title="Close"
        tuiIconButton
        tuiPreviewAction
        type="button"
        (click)="preview.complete()"
      ></button>

      <iframe
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        frameborder="0"
        src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1"
        title="Youtube"
        class="content"
      ></iframe>
    </tui-preview>
  </ng-template>
</tui-root>
