@import url('https://unpkg.com/angular-calendar@0.31.1/css/angular-calendar.css');

:host {
  .presentation-detail-wrapper {
    .tab-presentation-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
      .actions-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 24px;
      }
      .detail-time {
        font-weight: 700;
        font-size: 24px;
      }
    }
    .device-info-wrapper {
      background: white;
      .info-header {
        border-bottom: 1px solid rgba(240, 240, 240, 1);
        padding: 16px;
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;
        .info-name {
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          text-align: left;
        }
      }
      .info-content {
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding: 12px 16px;
        span {
          font-size: 14px;
          font-weight: 400;
          line-height: 22px;
          text-align: left;
        }
      }
    }
  }
}
